In [ ]:
# your name here :)

# Quiz Python - SQL - Data analysis

## Setup & Git

### ü§î What is a virtualenv and why is it useful?

Your answer here:
es un ambiente virtual que nos permite interpretar librerias.

### ü§î  How do you install a new python package? How can you later use it in your code?

Your answer here:

pip install

### ü§î What are the `git` commands to use to submit new code to a central repository on GitHub? Explain each step in your own words.

Your answer here:

- git add namefile
- git commit -m""
- git push origin master

### ü§î  How would you position yourself in a parent directory in the terminal? How can you go to the `~` (home) directory?

Your answer here:

cdÀú

## Python

### Lists

Given a list of numbers perform following operations:
- check how many elements does it have and store it in a `numbers_count` variable
- add a `5`
- remove the `7`

In [21]:
numbers = [-2, "2", 7, '-3']
# your code below
number_count =len(numbers)
number_add = numbers.append(5)
number_remove = numbers.remove(7)
numbers

[-2, '2', '-3', 5]

Now create a new list `positive_numbers` by iterating over `numbers` from previous task. It should consist of `int` only.

In [39]:
positive_numbers = []
for n in numbers: 
    if int(n) > 0:
        positive_numbers.append(int(n))
positive_numbers

[2, 5]

### Functions

Create a function which will take a `list` of numbers as an argument and return the sum of positive numbers from that list (look at previous challenge). Be careful, the input list might contain both `str` and `int`!

In [72]:
def funtion(numbers):
    sum_number = 0
    for n in numbers:
        if int(n) > 0:
            sum_number += int(n)
    return sum_number

Call your function with `numbers` list (the one you updated) from previous challenge! Store the result in `positive_sum` variable.

In [73]:
positive_sum = funtion(numbers)
print (positive_sum)

7

In [ ]:
# the cell should output True
positive_sum == 7

### Calling an API

Which package do you need to call an API with Python? How do you use it? Give an example with `https://opengraph.lewagon.com/?url=https://www.lewagon.com` below and store the result in `data` variable:

In [20]:
import requests
response = requests.get('https://opengraph.lewagon.com/?url=https://www.lewagon.com')

### Code refactoring

Rewrite the following loop using `list comprehension` and store the result in `lc_uppercase_fruits` variable.

In [ ]:
fruits = ['apple', 'banana', 'orange', 'strawberries', 'melon', 'pear']
uppercase_fruits = []
for fruit in fruits:
    if fruit[0] < 'n':
        uppercase_fruits.append(fruit.upper())

In [ ]:
# nose como hacerlo

In [ ]:
# the cell should output True
lc_uppercase_fruits == ["APPLE", "BANANA", "MELON"]

## SQL

### ü§î What software can you use to perform some SQL queries?

Your answer here:

In [ ]:
Dbeaver

### ü§î How a typical SELECT query is built, with which keywords and in what order? Write some SQL boilerplate.

Your answer here:

In [ ]:
SELECT *
FROM TABLE

### ü§î What is the difference between the INNER JOIN and LEFT JOIN?

Your answer here:

- inner join busca la relacion entre las dos bases de datos, siempre que concuerde la informacion lo va a imprimir  
- el left join por otro lado, muestra toda la lista izquierda sin importar si se completa es ese caso muestra none

## Data Analysis

### Create a `ndarray` of integers with 2 dimensions and store it in a `A` variable. Check how many elements it has.

In [31]:
# your code here
import numpy as np
a = np.array([[1,2],[2,3]])
a

array([[1, 2],
       [2, 3]])

### Using the same array `A`  check for the `max` elements in its rows.

In [32]:
a.max()

3

### Given the array B, select the third column of it (including all the rows). Store it in a `selection` variable.

In [51]:
B = np.array([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15], [16,17,18,19,20]])
B
selection = B[:,3]
selection

array([ 4,  9, 14, 19])

### Using vectorial computation rewrite the loop below so that you get an array of summed rows  as result. Store it in `vectorial_sum` variable.

In [54]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

[11, 4, 11, 5, 10, 13, 8, 12]

In [59]:
# your code here, using `my_list` from previous cell
A = np.array(my_list)
vectorial_sum = A[:,0]+A[:,1]
vectorial_sum

array([11,  4, 11,  5, 10, 13,  8, 12])

### We loaded for you the `tips` dataset. What's the type of it? How can you quickly explore it?

In [76]:
import seaborn as sns
tips = sns.load_dataset('tips')

In [77]:
# your answer & code here
type(tips)

pandas.core.frame.DataFrame

###  How do you select the `total_bill` column? üí≤üí≤üí≤

In [78]:
# your code here
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

### Using `boolean indexing` create a new DataFrame where the `time` is  `Dinner`. How many rows does it have?

In [79]:
# your code here
tips[tips['time'] == 'Dinner']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

### Given dataframe `a_df` and `b_df` how would you perform a `left join` with `pandas`? (not a SQL question!)

In [ ]:
# your code here
result = pd.merge(a_df, b_df, how= 'left', on= ['key1', 'key2'])

## Submit your quiz in 2 steps:

### Convert your notebook as a HTML file with `nbconvert` by running the cell below:

In [82]:
%%bash
jupyter nbconvert --to html datatoolkit_quiz.ipynb

[NbConvertApp] Converting notebook datatoolkit_quiz.ipynb to html
[NbConvertApp] Writing 613745 bytes to datatoolkit_quiz.html

###  ‚òÅÔ∏èAlmost done! Last step is to go back to Kitt and follow the last instructions to submit your quiz.